# Import

In [1]:
import pandas as pd

In [2]:
from pickle import dump, load

# Load Data

In [3]:
ml_data = pd.read_csv('./all_mofs/ml_data.csv')

/home/rishi/.virtualenvs/efrc-p3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
ml_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126384 entries, 0 to 126383
Columns: 498 entries, Unnamed: 0 to std_CH4_v/v_248_bar
dtypes: float64(472), int64(5), object(21)
memory usage: 589.6 MB

In [5]:
ml_data.dtypes[0] == 'int64'

True

In [6]:
cols = ml_data.keys().tolist()
for i,tp in enumerate(ml_data.dtypes):
    col = cols[i]
    if tp == 'int64':
        ml_data[col] = ml_data[col].astype('int8')
    elif tp == 'float64':
        ml_data[col] = ml_data[col].astype('float32')

In [7]:
stacked = pd.concat([ml_data]*6, ignore_index=True)

In [8]:
nmof = len(ml_data)

In [9]:
pressure = [1]*nmof + [5.8]*nmof + [35]*nmof + [65]*nmof + [100]*nmof + [248]*nmof

In [10]:
stacked['pressure'] = pressure

In [11]:
vol_uptake = []
uptake_1 = stacked['CH4_v/v_1_bar'].tolist()
uptake_5 = stacked['CH4_v/v_5.8_bar'].tolist()
uptake_35 = stacked['CH4_v/v_35_bar'].tolist()
uptake_65 = stacked['CH4_v/v_65_bar'].tolist()
uptake_100 = stacked['CH4_v/v_100_bar'].tolist()
uptake_248 = stacked['CH4_v/v_248_bar'].tolist()

for ind, val in enumerate(pressure):
    if val == 1:
        vol_uptake.append(uptake_1[ind])
    elif val == 5.8:
        vol_uptake.append(uptake_5[ind])
    elif val == 35:
        vol_uptake.append(uptake_35[ind])
    elif val == 65:
        vol_uptake.append(uptake_65[ind])
    elif val == 100:
        vol_uptake.append(uptake_100[ind])
    else:
        vol_uptake.append(uptake_248[ind])

In [12]:
stacked['vol_uptake'] = vol_uptake

In [10]:
stacked

,Unnamed: 0,#_of_Linkers,L0_Smiles,L10_Smiles,L11_Smiles,L12_Smiles,L13_Smiles,L14_Smiles,L15_Smiles,L16_Smiles,...,mean_CH4_v/v_65_bar,std_CH4_v/v_65_bar,norm_CH4_v/v_100_bar,mean_CH4_v/v_100_bar,std_CH4_v/v_100_bar,norm_CH4_v/v_248_bar,mean_CH4_v/v_248_bar,std_CH4_v/v_248_bar,pressure,vol_uptake
0,0,6,[O]C(=O)C#CC#CC(=O)[O],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,-2.790110,182.710119,65.484926,NaN,216.323764,81.18772,1.0,0.000000
1,1,6,[O]C(=O)c1ccc(c(c1N)N)c1nnc(nn1)c1cc(N)c(c(c1N...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.805583,182.710119,65.484926,0.697362,216.323764,81.18772,1.0,12.409545
2,2,6,[O]C(=O)C#Cc1cc(O)c(c(c1)O)C#CC(=O)[O],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.506575,182.710119,65.484926,0.349411,216.323764,81.18772,1.0,14.970042
3,3,12,[O]C(=O)C#CC#CC#CC(=O)[O],[O]C(=O)C#CC#CC#CC(=O)[O],[O]C(=O)C#CC#CC#CC(=O)[O],NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,-0.747845,182.710119,65.484926,-0.810289,216.323764,81.18772,1.0,11.924002
4,4,6,[O]C(=O)c1ccc(c(c1)Cl)C#Cc1c(Cl)cc(cc1Cl)C(=O)[O],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.183220,182.710119,65.484926,NaN,216.323764,81.18772,1.0,49.924683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758299,126469,3,[O]C(=O)/C=C/C=C(/C(=O)[O])\F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,-0.004233,182.710119,65.484926,NaN,216.323764,81.18772,248.0,NaN
758300,126470,1,[O]C(=O)c1cc2c(cc1Br)c(Br)[c]c1c2[c]c(Br)c2c1c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.288312,182.710119,65.484926,-0.006340,216.323764,81.18772,248.0,215.809026
758301,126471,3,[O]C(=O)C#C[C@]12[C@H]3[C@H]4[C@@]2([C@]2([C@@...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.269705,182.710119,65.484926,NaN,216.323764,81.18772,248.0,NaN
758302,126472,3,[O]C(=O)C#C[C@@]12[C@H]3[C@H]4[C@@H]1[C@]1([C@...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.570227,182.710119,65.484926,0.894216,216.323764,81.18772,248.0,288.923145
758303,126473,3,COc1c(ccc(c1OC)C#CC(=O)[O])C#CC(=O)[O],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.846681,58.292254,0.398382,182.710119,65.484926,0.917007,216.323764,81.18772,248.0,290.773501

In [13]:
stacked.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758304 entries, 0 to 758303
Columns: 500 entries, Unnamed: 0 to vol_uptake
dtypes: float32(472), float64(2), int8(5), object(21)
memory usage: 2.1 GB

In [14]:
stacked = stacked.drop(['CH4_v/v_1_bar','CH4_v/v_5.8_bar','CH4_v/v_35_bar','CH4_v/v_65_bar','CH4_v/v_100_bar',
             'CH4_v/v_248_bar'], axis=1)

In [18]:
stacked = stacked[stacked['vol_uptake'].notna()].reset_index()

In [20]:
stacked = stacked.drop('index', axis=1)

In [21]:
stacked.to_csv('stacked.csv')

# read back stacked

In [ ]:
import pandas as pd

In [ ]:
import pickle

In [ ]:
pickle_in = open("stacked.pkl","rb")

In [ ]:
stacked = pickle.load(pickle_in)

In [23]:
def norm_col(df, col_name):
    
    nrow = len(df)
    mean = df[col_name].mean()
    std = df[col_name].std()
    
    df['norm_' + col_name] = (df[col_name] - mean) / std
    df['mean_' + col_name] = [mean for i in range(nrow)]
    df['std_' + col_name] = [std for i in range(nrow)]

In [24]:
norm_col(stacked, 'vol_uptake')

In [25]:
stacked.to_csv('stacked.csv')